

.split {
	display: block;
}

.split > div:first-child {
	margin-left: 0px;
}

.split > div {
	display: block;
	float: left;
	margin-left: 2.127659574468085%;
}

.split:after {
	display: block;
	content: '';
	clear: both;
}

.split .size12{width:100%;*width:99.94680851063829%;}
.split .size11{width:91.48936170212765%;*width:91.43617021276594%;}
.split .size10{width:82.97872340425532%;*width:82.92553191489361%;}
.split .size9{width:74.46808510638297%;*width:74.41489361702126%;}
.split .size8{width:65.95744680851064%;*width:65.90425531914893%;}
.split .size7{width:57.44680851063829%;*width:57.39361702127659%;}
.split .size6{width:48.93617021276595%;*width:48.88297872340425%;}
.split .size5{width:40.42553191489362%;*width:40.37234042553192%;}
.split .size4{width:31.914893617021278%;*width:31.861702127659576%;}
.split .size3{width:23.404255319148934%;*width:23.351063829787233%;}
.split .size2{width:14.893617021276595%;*width:14.840425531914894%;}
.split .size1{width:6.382978723404255%;*width:6.329787234042553%;}

a.button,
.button {
	display: inline-block;
	margin-right: 1px;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 19px;
	background-color: #332214;
	background-image: url(../images/noise.png);
	background-repeat: repeat;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid transparent;
	box-shadow: inset 0 130px 100px -100px rgba(255,255,255,0.2), inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #fff;
	transition: all 0s;
	-moz-transition: all 0s;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
}

a.button:hover,
.button:hover {
	box-shadow: inset 0 130px 100px -100px rgba(255,255,255,0.2), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -100px 20px rgba(255,255,255,0.1);
}

a.button:active,
.button:active {
	box-shadow: inset 0 130px 100px -100px rgba(255,255,255,0.2), inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -100px 20px rgba(0,0,0,0.3);
}

a.button.big-size,
.button.big-size {
	padding: 12px 25px;
	font-size: 18px;
}

.button.invert {
	background: transparent;
	border: 1px solid #332214;
	color: #332214;
	text-shadow: none;
	padding: 8px 19px;
}

.button.invert:hover {
	background-color: #332214;
	box-shadow: inset 0 130px 100px -100px rgba(255,255,255,0.2), inset 0 1px 0 rgba(255,255,255,0.2);
	color: #fff;
}

.button.invert:active {
	background-color: #332214;
	box-shadow: inset 0 130px 100px -100px rgba(255,255,255,0.2), inset 0 1px 0 rgba(0,0,0,0.2), inset 0 -100px 20px rgba(0,0,0,0.3);
	color: #fff;
}

.map-inner {
	display: block;
	margin-bottom: 20px;
}

blockquote {
	display: block;
	position: relative;
	border-left: 2px solid #4b3e25;
	padding: 5px 0 5px 20px;
	font-size: 18px;
	line-height: 140%;
	margin-bottom: 15px;
}

.single-article ol,
.single-article ul {
	margin-top: 25px;
	margin-bottom: 25px;
	line-height: 140%;
	font-size: 14px;
}

.single-article ol i.fa,
.single-article ul i.fa {
	line-height: 100%;
	margin-top: -1px;
}

.single-article ol li,
.single-article ul li {
	margin-bottom: 8px;
}

.info-message {
	display: block;
	position: relative;
	margin-bottom: 15px;
	background: #433429;
	color: #f5ecda;
	padding: 17px 20px;
	text-shadow: none;
}

.info-message p {
	display: block;
	margin-bottom: 0px;
	padding-right: 30px;
	line-height: 130%;
}

.info-message p strong {
	display: inline-block;
	padding-right: 8px;
}

.info-message a {
	color: #f5ecda;
}

.info-message a.close-info {
	color: #f5ecda;
	position: absolute;
	top: 15px;
	right: 15px;
}

.accordion {
	display: block;
	margin-bottom: 15px;
}

.accordion > div {
	display: block;
	margin-bottom: 1px;
}

.accordion > div > a {
	display: block;
	padding: 16px 20px;
	background: #9b8d82;
	text-shadow: none;
	color: #f5ecda;
	font-family: 'Rambla', sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	position: relative;
}

.accordion > div > a:before {
	content: '\f0d7';
	font-family: "FontAwesome";
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	font-weight: normal;
	font-size: 14px;
}

.accordion > div.active > a:before {
	content: '\f0d8';
}

.accordion > div > div {
	display: none;
	padding: 17px 20px;
	background: rgba(0,0,0,0.06);
}

.accordion > div.active > div {
	display: block;
}

.accordion > div.active > div p {
	margin-bottom: 0px;
	font-size: 15px;
}

.wp-caption {
	margin-bottom: 15px;
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.13);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
	max-width: 100%;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	padding: 8px 0;
}

.faq-short {
	display: block;
	margin-bottom: 15px;
}

.faq-short > a {
	display: block;
	position: relative;
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
}

.faq-short > a:before {
	display: block;
	position: absolute;
	content: '+';
	left: 0px;
	line-height: 120%;
}

.faq-short.active > a:before {
	content: '-';
}

.faq-short.active > div {
	display: block;
}

.faq-short > div {
	display: none;
	padding-top: 12px;
	padding-bottom: 0px;
	padding-left: 20px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.faq-group {
	padding-top: 7px;
	margin-bottom: 30px;
}

.faq-group:last-child {
	margin-bottom: 0px;
}

